.Rproj.user
CB-NestlingsAndAdults.docx
CB-NestlingsAndAdults.tex
CB_columnsIndex.xlsx
CrowBaseContract.docx
~$CB_columnsIndex.xlsx
billW_outliers.csv
outliers_wingChord.csv
outliers_TEC.csv
outliers_billD.csv
outliers_billNT.csv
outliers_billW.csv
outliers_exp7Primary.csv
outliers_skull.csv
outliers_tailLength.csv
outliers_head.csv
outliers_sevenPrimary.csv
outliers_tarsus.csv
outliers_weight.csv
outliers_wingChord.csv
figures
